@model DiplomaProject.Models.Indicator

<div class="text-center">
    <h2>Add indicator</h2>
    <form asp-action="create" asp-controller="home">
        <p>
            <label asp-for="X">X</label><br />
            <input type="number" asp-for="X" />
        </p>
        <p>
            <label asp-for="Y">Y</label><br />
            <input type="number" asp-for="Y" />
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </form>
</div>
