@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form method="post" enctype="multipart/form-data" action="@Url.Action("UploadBackground", "Home")">
        <input type="file" name="imageFile" />
        <button>Upload</button>
    </form>

    @{
        int selectedId = 1;
    }

    <div>
        <input type="number" id="bgNumber" value="@selectedId" />
        <button onclick="changeBackground()">Change Background</button>
    </div>

    <img src="@Url.Action("GetBackgroundImage", "Home", new { id = selectedId })" 
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;" />

</div>
